conf
.idea/
.DS_Store
.envrc
work/
dev/cni/netglue
dev/platformd/platformd
dev/controlplane/controlplane
dev/test
dev/cli/chunk
dev/cli/explorer
/cmd/test
img.tar.gz
unpack-img.tar.gz
repack-img.tar.gz
.golangci.bck.yaml